@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  width: 25%;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
  font-weight: 400;
  font-style: normal;
}

li a {
  display: block;
  color: #2D2926;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
  font-weight: 400;
  font-style: normal;
}

li a.active {
  background-color: #CC0000;
  color: white;
}

li a:hover:not(.active) {
  background-color: #90a8c3;
  color: white;
}


body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
  font-size: 22px;
  color: #2D2926;
}

.button {
  background-color: #CC0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;

}

.note{
  font-size: 5px;
}