<html> 
<body style="background-color:white;">	 
	<form action = "http://localhost:5000/" method = "post"> 
		<img src="bostonu.png" width="400" height="145" style= "display: block; margin-left: auto; margin-right: auto;">
		<title>Metropolitan College</title>
		<h1 style="text-align:center;">Metropolitan College</h1>

		<p style="text-align:center;"><i>" Knowledge Extraction and graphing from job listings on the web using NLP"</i></p>
		<p style="text-align:center;"><input type = "text" name = "nm" style = "font-size:16pt;"/></p> 
		<p style="text-align:center;"><input type = "submit" value = "Generate Knowledge Graph" style = "font-size:12pt;" /></p> 
	</form>	 
</body> 
</html> 
