<!DOCTYPE html>
<html>
<head>
  <title>BU Knowledge Graph: KG</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
</head>

<body style="background-color:#ffffff;">

  <ul>
		<br><br>
		<img src="/static/bu1.png" width=80 height=100 style= "display: block; margin-left: auto; margin-right: auto;">
		<br><br><br>
  		<li><a  href="index.html">HOME</a></li>
		<li><a class="active" href="kg.html">KNOWLEDGE GRAPH</a></li>
  		<li><a href="next.html">WHAT'S NEXT</a></li>
  		<li><a href="feedback.html">FEEDBACK</a></li>
  		<li><a href="join.html">JOIN US</a></li>
	</ul>

  <!--knowledge graph-->
  <div style="margin-left:30%;padding:1px 0px;height:20px;">
    <form action="/" method="post" autocomplete="on">
      <p style="text-align:center;"><input id="searchbar" type="text" name="nm" style="font-size:16pt;" /></p>
      <p style="text-align:center;"><button class="button">GENERATE GRAPH</button></p>
    </form>
  </div>
  <script>
    var text_value = document.getElementById("searchbar");
    val = this.window.location.href.split("success/")[1];
    text_value.placeholder = val.replace(/%20/g," ").replace(/%2C/g," ");
  </script>

  <br><br><br><br><br><br><br>
  <div id="chart" style="margin-left:30%"></div>
  <script type="text/javascript" src="js/kgresults.js"></script>
</body>
</html>